[submodule "arrow-rs"]
	path = arrow-rs
	url = https://github.com/Epsio-Labs/arrow-rs-pivot
[submodule "duckdb-planner/duckdb-sources"]
	path = duckdb-planner/duckdb-sources
	url = https://github.com/Epsio-Labs/duckdb.git
